<?xml version="1.0"?>
<!--
	An example configuration file.

	Documentation: http://doc.manasource.org/manaserv.xml

	Developers:	If you add any new parameters read from this configuration file
	don't forget to update the wiki documentation!
-->
<configuration>

<!-- Database configuration ***************************************************
 Uncomment one of the following parts according to the database backend you
 would like to use.
-->

<!--
	SQLite specific configuration.

	sqlite_database:	name and path to the sqlite database file
						optional, default="mana.db"
-->
<!-- <option name="sqlite_database" value="mana.db"/> -->


<!--
	mySQL specific configuration.

	mysql_hostname:		ip or hostname of the database server
						optional, default="localhost"
	mysql_port:			the port where the mysql server listens to
						optional, default=3306
	mysql_database:		name of the installed database
						optional, default="mana"
	mysql_username:		name of the user to connect to the database server
						optional, default="mana"
	mysql_password:		password to use whith the mysql_username
						optional, default="mana"
-->
<!--
<option name="mysql_hostname" value="localhost"/>
<option name="mysql_port" value="3306"/>
<option name="mysql_database" value="mana"/>
<option name="mysql_username" value="mana"/>
<option name="mysql_password" value="mana"/>
-->


<!--
	PostgreSQL specific configuration.

	TODO!
-->

<!-- end of database configuration *************************************** -->

 <!-- Paths to data files -->
 <option name="serverPath" value="." />
 <option name="clientDataPath" value="example/clientdata" />
 <option name="serverDataPath" value="example/serverdata" />

 <!-- Log output configuration -->
 <option name="log_statisticsFile" value="./manaserv.stats"/>
 <option name="log_accountServerFile" value="./manaserv-account.log"/>
 <option name="log_gameServerFile" value="./manaserv-game.log"/>

 <!--
 Log levels configuration.
 Available values are:
   0. Fatal Errors only.
   1. All Errors.
   2. Plus warnings.
   3. Plus standard information.
   4. Plus debugging information.
 -->
 <option name="log_gameServerLogLevel" value="2"/>
 <option name="log_accountServerLogLevel" value="2"/>

 <!--
 New player starting location. The map should be defined in data/maps.xml.
 -->
 <option name="char_startMap" value="1"/>
 <option name="char_startX" value="720"/>
 <option name="char_startY" value="840"/>

 <!-- Respawn options -->
 <option name="respawnMap" value="4"/>
 <option name="respawnX" value="1000"/>
 <option name="respawnY" value="1000"/>

 <!--
 ATTENTION: This is a very important option!
 the net password is used to let the servers (game and account) speak to each
 other in a crypted way.
 This option is REQUIRED FOR THE SERVERS TO START.
 -->
 <option name="net_password" value="changeMe"/>

 <!--
 The game server uses this address to connect to the account server. Clients
 will also need to be able to connect to the account server.
 -->
 <option name="net_accountServerAddress" value="localhost"/>
 <option name="net_accountServerPort" value="9601"/>

 <!--
 The clients use this address to connect to a game server on this machine.
 -->
 <option name="net_gameServerAddress" value="localhost"/>
 <option name="net_gameServerPort" value="9604"/>

 <!-- Max connected clients allowed. -->
 <option name="net_maxClients" value="1000"/>

 <!--
 Host the account server will listen to. Defaulted to 'localhost'.
 TODO: Replace with full listening config for both host and port
 for the chat and game servers.
 -->
 <option name="net_listenHost" value=""/>

 <!-- Minimal supported mana client version -->
 <option name="clientVersion" value="0" />

 <!-- Gameplay-related config options -->
 <option name="visualRange" value="448"/>
 <option name="floorItemDecayTime" value="10" />
 <option name="hpRegenBreakAfterHit" value="50" />
 <option name="defaultPvp" value="free" />

 <!-- Default Map id at character loading -->
 <option name="defaultMap" value="1" />

 <!--
 Update host url: E.g.: "http://www.manasource.org/updates"
 It gives the http folder where the update files can be downloaded.
 -->
 <option name="defaultUpdateHost" value="" />

 <!-- Account-creation-related config options -->
 <option name="account_allowRegister" value="1" />
 <option name="account_denyRegisterReason" value="The server administrator has disabled automatic registration!" />
 <option name="account_minEmailLength" value="7" />
 <option name="account_maxEmailLength" value="128" />
 <option name="account_minNameLength" value="4" />
 <option name="account_maxNameLength" value="16" />
 <option name="account_minPasswordLength" value="6" />
 <option name="account_maxPasswordLength" value="25" />

 <!-- Character-creation-related config options -->
 <option name="char_numHairStyles" value="17" />
 <option name="char_numHairColors" value="9" />
 <option name="char_numGenders" value="2" />
 <option name="char_minNameLength" value="4" />
 <option name="char_maxNameLength" value="25" />
 <option name="char_maxCharacters" value="3" />

 <!-- Chat-related config options -->
 <option name="chat_maxChannelNameLength" value="15" />
   <!-- I noticed the following configuration-like enumeration values which are never checked:
        //chat-related
         MAX_PUBLIC_CHANNELS_RANGE  = 1000,
        MAX_PRIVATE_CHANNELS_RANGE = 10000,
        MAX_CHANNEL_ANNOUNCEMENT   = 150,
        MAX_CHANNEL_PASSWORD       = 12,
    -->

 <!-- Mail-system related-->
 <option name="mail_maxAttachments" value="3" />
 <option name="mail_maxLetters" value="10" />

 <!-- Command defaults -->

 <!-- Default mute command length (in seconds.) -->
 <option name="defaultMuteLength" value="60" />

</configuration>
