#include <windows.h> // include for version info constants

/* VERSION DEFINITIONS */
#define VER_MAJOR 0
#define VER_MINOR 1
#define VER_RELEASE 0
#define VER_BUILD 0
#define PACKAGE_VERSION "0.1.0.0"

A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "../mana.ico"

1 VERSIONINFO
FILEVERSION VER_MAJOR,VER_MINOR,VER_RELEASE,VER_BUILD
PRODUCTVERSION VER_MAJOR,VER_MINOR,VER_RELEASE,VER_BUILD
//FILETYPE VFT_APP
{
    BLOCK "StringFileInfo" {
        BLOCK "040904E4" {
            VALUE "CompanyName", "The Mana Developers"
            VALUE "FileVersion", PACKAGE_VERSION
            VALUE "FileDescription", "Manaserv Game Server"
            VALUE "LegalCopyright", "2004-2010 (C)"
            VALUE "OriginalFilename", "manaserv-game.exe"
            VALUE "ProductName", "Mana MMORPG Server"
            VALUE "ProductVersion", PACKAGE_VERSION
        }
    }
}
